body {
	color: #eee;
	background: rgb(0, 0, 0);
}
	
body a {
	color: #809fff;
}

a{text-decoration:none;}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

*:focus {
	outline: none;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder{
	color: #c0c0c0;
	opacity: 1;
}

::-webkit-scrollbar{
	width: 10px;
	background-clip: rgba(0, 0, 0, 0);
	border-radius: 100px;
}

::-webkit-scrollbar:hover{
	background-clip: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical{
	background: #273240;
	border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid #131920;
	min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active{
	background: rgba(0, 0, 0, 0.61);
	border-radius: 100px;
}

body input:required:valid,
body textarea:required:valid{
	color: #000;
}

html, body {
	height: 100%;
	background-color: #12171d;
}

body {
	font-size: 16px;
	max-width: 9980px;
	position: relative;
	line-height: 1.65;
	font-family: "Roboto", sans-serif;
    background: style type="text/css"
}
a{text-decoration:none;}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

*:focus {
	outline: none;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder{
	color: #c0c0c0;
	opacity: 1;
}

::-webkit-scrollbar{
	width: 10px;
	background-clip: rgba(0, 0, 0, 0);
	border-radius: 100px;
}

::-webkit-scrollbar:hover{
	background-clip: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical{
	background: #273240;
	border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid #131920;
	min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active{
	background: rgba(0, 0, 0, 0.61);
	border-radius: 100px;
}

body input:required:valid,
body textarea:required:valid{
	color: #000;
}

html, body {
	height: 100%;
	background-color: #171d25;
}

body {
	font-size: 16px;
	max-width: 9980px;
	position: relative;
	line-height: 1.65;
	font-family: "Roboto", sans-serif;
    background: #171d25;
	opacity: 1;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

header{
	position: fixed;
	width: 100%;	
	top: 0;
	z-index: 9999;	
	background-color: #273240;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
}

header .container{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-items: center;
	-ms-align-items:center;
	justify-content: space-between;
	padding: 20px 0;
	box-shadow: 0 0px 6px;
}
img{
	max-width: 100%;
}

header .logo{
	width: 150px;
	display: flex;
	align-items: center;
	-ms-aling-items: center;
	justify-content: center;
	margin: 0 40px ;
}

header .mnu_top{
	list-style-type: none;
	margin: 0 40px;
}

header .mnu_top li{
	display: inline-block;
	padding: 0 10px;
}

header .mnu_top li a{
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	display: block;
	text-decoration: none;
	color: #fff;
	transition: all .4s;
}

header .mnu_top li a:hover{
	color: #FC521F;
	border-left: 3px  solid #FC521F;
	border-right: 3px  solid #FC521F;
	padding-right: 7px;
	padding-left: 7px;
	transition: all .4s;
}

.nav_links > li {
  position: relative;
}

.nav_links > li > a {  
  font-size: 14px;
  text-transform: uppercase;
}

.s_links {
	top: 46px;
  position: absolute;
  z-index: 5;
  max-width: 110px;
  background: #273240;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  border-bottom: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;  
  text-align: center;
}

.s_links li a {
  color: #273240;
  padding: 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid #CBCBCC;
}

nav li:hover > .s_links {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

footer{
	background-color: #273240;
	padding: 30px;
	flex: 0 0 auto;
	margin-top: 10%;
}

footer ul{
	list-style-type: none;
	margin: 5px 40px 10px;
	column-count: 4;
}

footer ul li{
	display: block;
	margin: .4%;
}

footer ul a{
	color: #FFF;
	text-decoration: none;
	-webkit-transition: color .4s ease;
	-o-transition: color .4s ease;
	transition: color .4s ease;
}

footer a:hover{
	color: #FC521F;
}

.toggle{
	width: 100%;
	background-color: #273240;
	padding: 0 20px;	
	text-align: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}

.toggle span{
	color: #FC521F;
	cursor: pointer;
	font-size: 32px;
	font-weight: 550;
}

#btntoggle {
	cursor: pointer;
	appearance: none;
  	border: 0;
 	border-radius: 30px;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
	margin-top: 20px;
    margin-left: 40px;
  	box-shadow: 0 3px 6px rgb(1 1 1);
    background: linear-gradient(-45deg, #616161, rgba(73, 59, 59, 0), #616161);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.kont{
	margin-top: 70px;
}

#kontact{
	text-align: center;
	background-color: #2c3746;
}

#H1{
	height: 140px;
	padding-top: 40px;
	color: #fff;
}

.opis{
	display: block;
    width: 40%;
    margin: auto;

}

.mySlides {
	display: none;
  }

  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  .MAIN1{
	  display: flex;
  }

  /* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #fff;
	font-size: 24px;
	padding: 8px 12px;
	position: absolute;
	font-weight: bold;
	bottom: 0px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 12px;
	position: absolute;
	width: 100%;
	text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
 

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 2.7%;
}

.opis p{
    background: linear-gradient(-45deg, #616161, rgba(0, 0, 0, 0), #616161);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
      0%{
          background-position: 0 50%;
      }
      50%{
          background-position: 100% 50%;
      }
      100%{
          background-position: 0 50%;
      }
  }

  .opis #opisanie p{
	padding: 20px;	
	color: #fff;
	box-shadow: 0 3px 6px rgba(1, 1, 1, 10);
	border-radius: 30px;

}